.img-responsive {
    max-width: 100% !important;
    height: auto !important;
    padding: 10px;


    ~figcaption {
        text-align: center;
    }
}


.text-editor {
    max-width: 1024px;
    margin: auto;
    padding: 20px 0;
}