.module {
    width: 100%;
    background-color: #001A2F;
    // border: 1px solid red;
    // border-style: inset;
    padding: 40px 80px;

    color: white;

    .module-heading {
        h1 {
            color: white;
            font-size: 44px;
        }

        svg {
            margin-right: 30px;
            margin-bottom: 30px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .module-body {
        font-size: 20px;
        font-weight: 300;

        .course-slider {
            background-color: #111111;
            margin: 20px;
            height: 250px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 200px;
                width: 100%;
                object-fit: fill;
                transition: transform 1s;

            }

            p {
                text-align: center;
                margin: 0;
                margin: auto
            }
        }

        .course-slider>img:hover {
            transform: scale(1.05);
        }

        .course-slider:first-child {
            // margin-left: 0;
        }
    }
}