body {
  background-image: '../../assets/images/background.png';
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  h1,
  h3 {
    color: white;
  }

  .main-page-intro {
    padding: 20px 40px;

    h1 {
      font-size: 45px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      font-weight: 200;
    }
  }

  padding-top: 90px;
  height: 100vh;
  color: white;
  display: flex;

  .course-curriculum {
    min-width: 450px;
    height: 100%;
    overflow: auto;

    h3 {
      font-size: 24px;
    }

    span {
      font-size: 16px;
      // margin-left: 10px;
    }

    padding: 20px 40px;

    .course-summary {
      .sub-course {
        color: white;
        padding: 10px;
        padding-left: 40px;
        border-bottom: 1px solid gray;
      }

      .sub-course:last-child {
        border: none;
      }
    }
  }
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white !important;
  font-size: 18px;
}

.ant-popover-inner-content {
  display: block;
  font-family: monospace;
  background-color: black;
  color: white !important;
}

@media screen and (max-width: 1200px) {
  .home {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .home {
    height: 100%;
  }
}
