// @import Background from "../../assets/images/background.png"

.home-main-container {
    box-sizing: border-box;
    // filter: blur(5px);
    background-color: #001A2F;
    background-image: url(../../assets/images/background.png);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    width: fit-content;
    overflow: auto;

    // padding-bottom: 5px;

    .home {
        padding-top: 90px;
        color: white;
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
    
        @media only screen and (max-width: 915px) {
            flex-direction: column;
        }
    
        h1,
        h3 {
            color: white;
        }
    
        .main-page-intro {
            padding: 20px 40px;

            @media only screen and (max-width: 540px) {
                padding: 20px;
            }
    
            h1 {
                font-size: 45px;
                margin-bottom: 10px;
            }
    
            h3 {
                font-size: 26px;
                font-weight: 300;
                margin-bottom: 20px;
            }
    
            p {
                font-size: 18px;
                font-weight: 200;
            }
            
            @media only screen and (max-width: 540px) {
                h1 {
                    font-size: 36px;
                }

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 17px;
                }
            }

            @media only screen and (max-width: 360px) {
                h1 {
                    font-size: 32px;
                }

                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    
        .course-curriculum {
            min-width: 450px;
            height: 100%;
            overflow: auto;
            padding: 20px 40px;

            @media only screen and (max-width: 915px) {
                min-width: 0;
            }

            @media only screen and (max-width: 540px) {
                padding: 20px;
            }
    
            h3 {
                font-size: 24px;
            }
    
            span {
                font-size: 16px;
                // margin-left: 10px;
            }
    
            .course-summary {
                .sub-course {
                    color: white;
                    padding: 10px;
                    padding-left: 40px;
                    border-bottom: 1px solid gray;
                }
    
                .sub-course:last-child {
                    border: none;
                }
            }
        }
    }

    .home-getStarted-button-container {
        display: flex;
        padding: 50px 40px;

        @media only screen and (max-width: 915px) {

            a {
                width: 100%;
                
                .home-getStarted-button {
                    width: 100%;
                    text-align: center;
                }
            }
            
        }

        @media only screen and (max-width: 540px) {
            padding: 40px 20px;
        }

        .home-getStarted-button {
            background: #56AC00;
            border: 1px solid rgba(86, 172, 0, 0.75);
            box-sizing: border-box;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            width: 300px;
            
            font-size: 20px;
            font-weight: 600;
            // margin: 40px 20px;
            padding: 10px 50px;
            display: flex;
            align-items: center;
    
            span {
                margin: 0 auto;
                color: #002E48;
            }
        }
        .home-getStarted-button:hover {
            background:  #66CC00;
    
            span {
                color: #001A2F;
            }
        }
    }

}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    color: white !important;
    font-size: 18px;
}

.ant-popover-inner-content
{
    display: block;
    font-family: monospace;
    background-color: black;
    color:white !important;
}