// .player-wrapper {
//   width: auto; // Reset width
//   height: auto; // Reset height
// }
// .react-player {
//   padding-top: 56.25%; // Percentage ratio for 16:9
//   position: relative; // Set to relative
// }

// .react-player > div {
//   position: absolute; // Scaling will occur since parent is relative now
// }

.video-responsive-container {
    overflow: hidden;
    padding-bottom: 48.25%;
    margin: 0% 0% 1% 0%;
    position: relative;
    height: 0;
    background: #001a2f;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1),
        -20px -20px 20px rgba(234, 234, 234, 0.02),
        4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 10px;

    width: 100%;
}

.youtube-player {
    left: 0;
    top: 0;
    padding: 10px;
    height: 94%;
    width: 100%;
    position: absolute;
}
// .title-player {
//     color: antiquewhite;
//     // left: 0;
//     bottom: 0;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 1% auto;
//     left: 40vw;
//     position: absolute;
// }

.title-player {
    flex: 3;
    // min-height: 40px;
    // max-height:110px;
    // background-color: #003659;
    // height: auto;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 98%;
    margin: auto 10px;

    @media only screen and (max-width: 820px) {
        // min-height: 60px;
        max-height: 60px;
        font-size: 10px;
    }
}
