.code-editor {
    // background-color: blueviolet;
    width: 35%;
    // max-height: 100%;
    height: 100%;
    padding: 15px;
    // display: flex;
    // flex-direction: column;

    background: #001A2F;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -20px -20px 20px rgba(234, 234, 234, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 8px;
    margin: 1% 3%;
    height: fit-content;

    .ace_editor {
        @media only screen and (max-width:820px) {
            font-size: 10px !important;
        }
    }

}