.client-mainHome-container {
    background-color: #001A2F;
    height: fit-content;
    min-height: 100vh;
    // align-items: center;
    box-sizing: border-box;

    .client-mainHome-subcontainer {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 60px;

        @media only screen and (max-width: 540px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}