@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.module-main-container {
    background: #001A2F;
    padding: 1% 3.125%;
}

.module {
    width: 100%;
    background-color: #001A2F;
    // border: 1px solid red;
    // border-style: inset;
    margin: 25px 0;
    padding: 40px 6.875%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -20px -20px 20px rgba(234, 234, 234, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;

    color: white;

    .module-heading {
        h1 {
            color: white;
            font-size: 44px;
        }

        svg {
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .module-body {
        font-size: 20px;
        font-weight: 300;

        .modules-moduleCarousel {
            left: -19px;

            li {
                padding: 0 5px;
            }
        }

        .course-slider {
            background-color: #111111;
            margin: 20px;

            height: 180px;
            width: 100%;

            margin: 0 10px;
            margin-top: 40px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 200px;
                width: 100%;
                object-fit: fill;
                transition: transform 1s;
            }

            p {
                text-align: center;
                margin: 0;
                margin: auto
            }
        }

        .course-slider>img:hover {
            transform: scale(1.05);
        }

        .course-slider:first-child {
            // margin-left: 0;
        }

        .modules-getStarted-button {
            background: rgba(86, 172, 0, 0.75);
            border: 1px solid rgba(86, 172, 0, 0.75);
            box-sizing: border-box;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            margin-top: 40px;
            padding: auto;
            width: 320px;
            
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            display: flex;
            align-items: center;
            text-align: center;
            text-indent: 1px;
            text-transform: capitalize;

            span {
                margin: 0 auto;
            }
        }
        .modules-getStarted-button:hover {
            background:  #66CC00;
            color: #001A2F;
        }
    }
}

@media (max-width: 660px) {
    .module {
        .module-heading {
            h1 {
                font-size: 38px;
            }
            svg {
                margin: 8px;
                margin-left: 15px;
            }
        }
        .module-body {
            .course-slider {
                width: 80%;
            }
        }
    }

    .module-body {
        font-size: 20px;
        font-weight: 300;

        .course-slider {
            margin: 20px;
            height: 250px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 200px;
                width: 100%;
                object-fit: fill;
                transition: transform 1s;

            }

            p {
                text-align: center;
                margin: 0;
                margin: auto
            }
        }
    }
}

@media (max-width: 541px) {
    .module {
        .module-heading {
            h1 {
                font-size: 34px;
            }
            svg {
                size: 40%;
            }
        }
        .module-body {
            p {
                font-size: 80%;
            }
            .course-slider {
                width: 100%;
            }
            .modules-getStarted-button {
                width: 100%;
            }
        }
    }
}

@media (max-width: 478px) {
    .module {
        .module-heading {
            h1 {
                font-size: 28px;
            }
        }
    }

    .module-body {
        font-size: 20px;
        font-weight: 300;

        .course-slider {
            background-color: #111111;
            margin: 20px;
            height: 250px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            cursor: pointer;

            img {
                height: 200px;
                width: 100%;
                object-fit: fill;
                transition: transform 1s;

            }

            p {
                text-align: center;
                margin: 0;
                margin: auto
            }
        }
    }
}

@media (max-width: 300px) {
    .module {
        .module-heading {
            h1 {
                font-size: 22px;
            }
            svg {
                margin: 4px;
                margin-left: 10px;
            }
        }
    }
}