@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.module-container {
    margin: 3%;
    border: 2px solid black;

    .module-navbar {
        font-family: 'Yusei Magic', sans-serif;
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 215, 216);
        justify-content: center;
        align-items: center;

        .module-name {
            font-size: 1.7rem;
        }
        @media only screen and (max-width: 578px) {
            .module-name {
                font-size: 1.2rem;
            }
        }
        .navbar-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .module-details,
            .submodule-name {
                border-radius: 5px;
                font-size: 1.3rem;
                margin: auto;
                padding: auto;
                display: block;
                width: 46.4vw;
                background-color: #275072;
                color: aliceblue;
                border: 1% rgb(71, 70, 70);
            }
            @media only screen and (max-width: 578px) {
                .module-details,
                .submodule-name {
                    font-size: 0.9rem;
                    width: 46.4vw;
                }
            }
            .focus {
                background-color: #1988f0;
                box-shadow: black 3px 4px 10px;
                color: #363b3b;
            }
            .module-details {
                border-right: 0;
                
            }
            
        }
    }

    .module-form {
        position: relative;
        right: 18vw;
        width: 110%;
        margin: 0px;
        padding: 0px;
    }
    @media only screen and (max-width: 578px) {
        .module-form {
            left: 1vw;
            width: 97%;
        }
    }

    .submodule-list {
        font-size: 1.5rem;
        .submodule-listItem {
            color: rgb(56, 49, 49);
            margin: 0;
            padding: 1%;
            box-shadow: 5px 5px 20px 1px #cecbcb;
            border-right: 4px groove rgb(186, 187, 189);
        }
    }
}
