.expshow{
    display: flex;
    height: 100%;

.experiment-form{
    min-height: 100%;
    width: 35%;
    // transform: translateX(10%);
    background: #001A2F;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -20px -20px 20px rgba(234, 234, 234, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 10px;    }
}

.expshow-slideshow {
    // background-color: red;
    display: flex;
    flex-direction: column;
    // min-height: 100%;
    // max-height: 90vh;
    padding: 15px;
    // min-height:90%;
    // max-height:90%;

    //transition: all 0.5s ease-in;
    // margin: auto;
    // margin: 2% 12.5%;
    // margin: 20px 10% 15px;
    background: #001A2F;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -20px -20px 20px rgba(234, 234, 234, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 10px;
    // height: fit-content;
    height: 100%;
    width: 100%;

    @media only screen and (max-width : 660px) {
        margin: 3% 1.5%;
        padding: 7px;
    }

    .overlay-content{
        position: absolute;;
        top: 50%;
        padding: 0 50px;
        margin-top: -50px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        z-index: 999;
        width: 100%;

        @media only screen and (max-width : 610px) {
            padding: 0 25px;
        }

        @media only screen and (max-width : 400px) {
            padding: 0 10px;
        }
        
        span{
            display: inline-block;
            font-family: 'Roboto', Roboto Slab;
            font-size: 30px;
            line-height: 1.5;
            font-weight: 400 !important;
            align-items: center;
            text-align: center;
            font-weight: bold;
            color: white;

            @media only screen and (max-width : 950px) {
                line-height: 1.5;
                font-size: 20px;
            }
            @media only screen and (max-width : 450px) {
                font-size: 14px;
                font-weight: 300;
            }
        }
        
        a {
            @media only screen and (max-width : 610px) {
                line-height: 1.5;
                font-size: 16px;
            }
            @media only screen and (max-width : 450px) {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    .overlayed{
        position: relative;
        &:after{
            content: " ";
            z-index: 10;
            display: block;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(32, 31, 30, 0.85);
        }
    }
    .expshow-slideshow > div .image-gallery-slides {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    >div {
        max-height: 75%;
        height: 70%;
        min-height: 200px;

        .image-gallery {
            height: 100%;

        }

        .image-gallery-content {
            height: 100%;
        }

        .image-gallery-slide-wrapper {
            height: 100%;
        }

        .image-gallery-swipe {
            height: 100%;
        }

        .image-gallery-slides {
            height: 100%;
        }

        .image-gallery-slide {
            height: 100%;

            >div {
                height: 100%;
            }
        }

        .image-gallery-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }


    }

    .image-gallery-slide {
        /* opacity: 0; */
        transition: opacity 450ms ease-out !important;
        /* transition: all 450ms ease-out !important; */
    }

    .code-step {
        flex: 3;
        min-height: 80px;
        // max-height:110px;
        background-color: #414140;
        // height: auto;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 5px 5px;


        font-size: 20px;

        @media only screen and (max-width : 820px) {
            min-height: 60px;
            max-height: 60px;
            font-size: 10px;
        }
    }

    .nav {
        flex: 1;
        min-height: 40px;
        // height: 40px;
        // max-height:40px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        // margin-bottom: 15px;
        border-radius: 5px;
        
        .divider {
            border: 1px solid #B4C1CA;
            height: 50%;
        }

        .left-arrow {
            height: 100%;
            margin: 0 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

        }

        .codeUp-btn {
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #24D680;
            cursor: pointer;

            svg {
                margin-right: 10px
            }
        }

        .troubleshoot-btn {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FF7456;
            height: 100%;
            cursor: pointer;

            svg {
                margin-right: 10px;
                max-height: 50%;
            }

        }

        .right-arrow {
            height: 100%;
            margin: 0 10px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        @media only screen and (max-width : 820px) {
            min-height: 30px;
            max-height: 30px;
            font-size: 10px;
        }

        background-color: #003659;
    }
}