.troubleshoot-container {
    width: 100%;
    // margin: 2% 10%;
    padding: 10px;
    background: #001A2F;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -20px -20px 20px rgba(234, 234, 234, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 10px;
    height: 100%;
    justify-content: space-around;

    @media only screen and (max-width : 540px) {
        margin: 2% 2%;
    }

    .troubleshoot {
        display: flex;
        width: 100%;
        color: white;
        padding: 40px 4%;
        justify-content: space-evenly;
        //max-height: 100vh;
        background:#2B2A29;
        box-sizing: border-box;
        overflow-y: auto;
        border-radius: 5px;
        height: 88%;


        @media only screen and (max-width : 540px) {
            height: 82%;
            padding: 35px 8px;
        }

        .troubleshoot-inner {
            width: 100%;
            // min-width: 400px;
            max-width: 1400px;
            // overflow: auto;

            .ant-collapse, .ant-collapse-icon-position-right, .ant-collapse-ghost {
                margin-bottom: 8px;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 2px;

                .ant-collapse-item-active {
                    background: rgba(255, 255, 255, 0.25);
                }
            }

            .troubleshoot-panel{
                margin:0;
                box-shadow: none;
                background-color:transparent;
            }
        }
    }

    .troubleshoot-bottom-buttons {
        display: flex;
        flex-direction: row;
        background: rgba(0, 120, 188, 0.3);
        border-radius: 5px;
        margin-top: 10px;
        // max-height: 50px;
        height: 45px;
        min-height: 35px;
        padding: 5px 0;

        @media only screen and (max-width: 540px) {
            flex-direction: column;
            height: 13vh;
            padding: 5px 15px;
        }

        .troubleshoot-back-button {
            width: 100%;
            height: 100%;
            text-align: center;
            align-items: center;
            // flex: 1;
            display: flex;
            justify-content: center;
            cursor: pointer;
            border-right: 1px solid #f0f0f0;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
            color: rgba(36, 214, 128, 0.9);

            @media only screen and (max-width: 720px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 540px) {
                font-size: 15px;
                border-right: none;
                border-bottom: 1.5px solid #f0f0f0;
                font-weight: 450;
            }
        }

        .troubleshoot-contactTeacher-button {
            width: 100%;
            height: 100%;
            text-align: center;
            align-items: center;
            // flex: 1;
            display: flex;
            justify-content: center;
            cursor: pointer;
            border-left: 1px solid #f0f0f0;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
            color: #FF7456;

            @media only screen and (max-width: 720px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 540px) {
                font-size: 15px;
                border-left: none;
                border-top: 1.5px solid #f0f0f0;
                font-weight: 450;
            }
        }
    }
}
