.result-analysis-container {
    width: 100%;
    // margin: 2% 10%;
    background: #001A2F;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -20px -20px 20px rgba(234, 234, 234, 0.02), 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(235, 235, 235, 0.08);
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    
    @media only screen and (max-width: 540px) {
        margin: 2% 2%;
    }

    .form-builder {
        display: flex;
        width: 100%;
        color: white;
        padding: 40px 4%;
        padding-bottom: 1%;
        justify-content: space-evenly;
        //max-height: 100vh;
        background:#2B2A29;
        box-sizing: border-box;
        border-radius: 5px;
        overflow-y: scroll;
        height: 100%;

        @media only screen and (max-width: 540px) {
            padding: 20px 4%;
        }

        h1,h2,h3,h4,h5,h6 {
            color: white;
        }
    
        label{
            color: white;
        }
    
        .preview-form {
    
            width: 100%;
            // min-width: 400px;
            // max-width: 700px;
            // overflow: auto;
            height:100%;
    
            h2 {
                text-align: center;
            }

            .result-analysis-upload-photo-btn {

                .upload-photo-button {
                    background: rgba(0, 120, 188, 0.75);
                    border: 1.5px solid #C4C4C4;
                    box-sizing: border-box;
                    border-radius: 5px;
                    
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 22px;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    min-height: 38px;
                    width: 200%;
    
                    @media only screen and (max-width: 660px) {
                        width: 160%;
                    }

                    @media only screen and (max-width: 450px) {
                        width: 140%;
                        font-size: 16px;
                        font-weight: 500;
                        min-height: 36px;
                    }

                    @media only screen and (max-width: 360px) {
                        width: 120%;
                        min-height: 34px;
                    }
                }
                .upload-photo-button:hover {
                    border: 1.5px solid #001A2F;
                }
            }

            .result-analysis-submit-btn {

                .ant-col, .ant-form-item-control {
                    width: 100%;
                    margin-top: 30px;
                    margin-bottom: -10px;
                    align-items: center;
                    .ant-form-item-control-input {
                        width: 100%;
                        .ant-form-item-control-input-content {
                            width: 100%;
                        }
                    }
                }
                .result-analysis-submit-button {
                    background: rgba(0, 120, 188, 0.9);
                    border-radius: 5px;
                    width: 100%;
                    min-height: 40px;
                    border: 1.5px solid #001A2F;

                    @media only screen and (max-width: 450px) {
                        min-height: 36px;
                    }

                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 26px;
                        text-transform: uppercase;
                        color: rgba(36, 214, 128, 0.9);

                        @media only screen and (max-width: 450px) {
                            font-size: 18px;
                        }
                    }
                    
                }
                .result-analysis-submit-button:hover {
                    background: #1ab068;
                    span {
                        color:  rgba(0, 120, 188, 1);
                    }
                }
            }
        }
    }
}


.ant-form-item-label {
    overflow-wrap: anywhere;
}

.ant-form-item {
    margin: 24px 0 !important;
}

.truth-table-row {
    display: flex;

    input {
        text-align: center;
    }

    .ant-form-item {
        margin: 0 !important;
        margin-right: 15px !important;
        margin-bottom: 5px !important;
        @media only screen and (max-width: 400px) {
            margin-right: 8px !important;
        }
    }

    .switch {
        margin: 0 23px !important;
    }
}